body{
	background-color:#000;
	color:#FFF;
}
enabled{
	color:lime;
	font-weight:bold;
}
disabled{
	color:red;
	font-weight:bold;
}
a{
	color:green;
}
table.nav{
	padding-left:3px;
	width:100%
}
.nav{
	background-color:lime;
	color:#000;
	a:visited:black;
	font-weight:bold;
	border: 0;
	border-spacing: 2px;
	white-space:normal;
	word-wrap:break-word;
	font-family:"Courier New", Courier, monospace;
	font-size:10pt;
        text-align:center;
}
a.nav a:visited.nav{
	color:black;
}
a:hover.nav{
	color:#FFF;
}
table.status{
	float: top left;
	width: 350px;
	white-space:nowrap;
	font: monospace;
}
table.statusLog{
	float: top left;
}
textarea{
	width:100%;
	height:324px;
	background-color:black;
	color:white;
}
textarea.configBox{
	border-style:dashed;
}
textarea.cmdBox{
	border-style:dotted;
}
input[type=text]{
	 width:210px;
	 style='font-family:courier;
	 font-weight:bold;
	 background-color:black;
	 color:gray;
	 border-style:dotted;
	 font-family:"Courier New", Courier, monospace;
}
input[type=text].short{
	width:210px;
}
input[type=text].long{
	width:690px;
}

input[type=text].left{
        text-align:left;
}

input[type=text].leftlong{
        text-align:left;
        width:690px;
}

notes{
	font-size:small;
	color:grey;
	font-family:"Courier New", Courier, monospace;
}
white {color:white}
green {color:green}
yellow{color:yellow}
lime{color:lime}
pink{color:#FF0090}
orange{color:#ff6600}
cyan{color:#33FFCC}
red{color:RED}

left{text-align:left}
